# Arquivos de ambiente
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Dependências
node_modules/

# Arquivos temporários
*.tmp
*.temp

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de build
dist/
build/

# Arquivos de IDE
.vscode/
.idea/
*.swp
*.swo
